/* some colors you may find useful:
  #115ff4 blue
  #060ce9 royal blue
  #28a200  green
  #8d2ab5  purple
  #74119c dark purple
*/

body {
	background-color: #115ff4;
}

#titleDiv {
	text-align: center;
}

#buttonDiv {
	text-align: center;
}

#jeopardyTable th,
#jeopardyTable td {
	border: 3px solid black;
	width: 14em;
	padding: 0em;
	background-color: #060ce9;
	text-align: center;
}
#jeopardyTable {
	border-collapse: collapse;
}

th {
	text-transform: uppercase;
	font-weight: bold;
	height: 5em;
	text-shadow: gray 1px 1px;
	color: white;
}

td {
	height: 8em;
	color: goldenrod;
}

#startButton {
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: inline;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	border-color: #3498db;
	color: #fff;
	box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
#startButton:hover,
#startButton:focus {
	color: #fff;
	outline: 0;
	box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
